*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Sensitive data
*.spass
*.csv

# Build artifacts
*.apk
*.aab

# Logs and reports
.kotlin/
bugreport-*.zip
